body {
  padding-top: 2rem;
}

/* CUSTOMIZE THE NAVBAR
------------------------------------------------- */
.btn{
  margin:8px 2px; /*Change to alter position of social media icons within navbar */
}

.navbar-brand > img {
    margin-top: -5px;
}

.mayball_logo{
	margin: 0;
	padding: 0;
}

/* CUSTOMIZE BUTTONS */
.button-tooltip{
    display:inline-block;
}

.name-change-btn{
    margin-top: 0px;
}

/* CUSTOMIZE FORMS */
ul#id_donation {
    list-style: none;
    padding-left: 0px;
}

.donation-header {
    vertical-align: top;
}

/* CUSTOMIZE MAIN SITE */
.site-wrapper {
    margin-top: 30px;
}

.price {
    font-size: x-large;
}

.col-md-3 {
    padding-left: 10px;
    padding-right: 10px;
}

.panel {
    text-align: center;
    border: 1px solid indigo;
    border-radius: 10px;
}

.panel-header {
    margin-bottom: 10px;
    font-size: medium;
    font-weight: bold;
    color: indigo;
}

.header-row {
    font-weight: bold;
}

@media (min-width: 981px)  {
    .low-btn {
        margin-top: 109px;
    }
}

/*this will do for now, but really want to force all columns to be the same height, whatever that height is*/

.charity-img {
    width: 200px;
    height: 200px;
}

.button-wrapper {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

h1 {
    padding-top: 10px;
    padding-bottom: 50px;
}

h3 {
    margin: auto;
    text-align: center;
}

.row {
    min-height: 30px;
}

.header-row {
    font-weight: bold;
}

td {
    padding-left: 10px;
}

#id_tsandcs{
    padding-bottom:10px;
}


