<!doctype html>

<html lang="en">
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Clare May Ball</title>
  <meta name="description" content="Clare May Ball">
  <meta name="author" content="Clare May Ball Committee 2018">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

  <!-- Latest compiled and minified bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled boostrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Latest font-awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/></script>

   <!-- CSS file for social media icons -->
  <link href="{% static 'website_app/css/bootstrap-social.css' %}" rel="stylesheet"/>

  <!-- Custom styles for this template -->
  <link href="{% static 'website_app/css/jumbotron.css' %}" rel="stylesheet"/>
  <link href="{% static 'website_app/css/carousel.css' %}" rel="stylesheet"/>

  <!--Script for animations-->
  <script src="{% static 'website_app/js/animations.js' %}"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <style>
	.featurette-heading{
		margin:0;
	}
  </style>
</head>

<body>
	<!-- Navigation bar
  ================================================== -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container navbar-wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cmbNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a class="btn mayball_logo" href="#">
			<img src="{% static 'website_app/img/logo.png' %}"></img> <!-- homepage icon -->
		  </a>
		  <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/claremayball2018">
				<span class="fa fa-facebook"></span>
		  </a>
		  <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/claremayball2018">
			<span class="fa fa-instagram"></span>
          </a>
        </div>
		<div class="collapse navbar-collapse" id = "cmbNavbar">
			<ul class="nav navbar-nav pull-right">
                <li><a href="https://ticketing.claremayball.com"><b>Tickets</b></a><li>
                <li><a href="#infocols"><b>Ents</b></a></li>
                <li><a href="#infocols"><b>Workers</b></a></li>
                <li><a href="#lastyear"><b>CMB 2017</b></a></li>
                <li><a href="#sponsorship"><b>Sponsorship</b></a></li>
				<li><a href="#committee"><b>Committee</b></a></li>
				<li><a href="{% static 'website_app/assets/legal.pdf' %}"><b>Legal</b></a></li>
				<li><a href = "/contact"><b>Contact</b></a></li>
			</ul>
		</div>
    </div>
    </nav>

    <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" src="{% static 'website_app/img/Carousel3.jpg' %}" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>CMB 18</h1>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="second-slide" src="{% static 'website_app/img/Carousel2.jpg' %}" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
			<h1>18.06.18</h1>
			<h2>20:00-05:00</h2>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="third-slide" src="{% static 'website_app/img/Carousel1.jpg' %}" alt="Third slide">
        <div class="container">
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container-fluid marketing">
      <div id="launch" class = "holding-box">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Welcome to the Planetarium...</h2>
            <p class="lead"></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'website_app/img/LOGOW_BG2.jpg' %}" alt="launch image">
          </div>
        </div>
      </div>

      <hr id="lastyear" class='featurette-divider'>

      <div class="holding-box">
        <div class="row featurette">
          <div class="col-md-6">
      			<div class="iframe-holder">
      				<iframe width="560" height="315" src="https://www.youtube.com/embed/sh_iRpJTj58" frameborder="0" gesture="media"
      				allow="encrypted-media" align="center" allowfullscreen></iframe>
      			</div>
          </div>
          <div class="col-md-6">
            <h2 class="featurette-heading">How old are you anyway? </h2>
			         <h2 class = "featurette-heading text-muted" span class="text-muted text-center">A taster of Clare May Ball 2017...</span></h2>
             </div>
        </div>
      </div>

      <hr id="history" class="featurette-divider">

      <div class="holding-box">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Clare May Ball</h2>
            <h2 class="featurette-heading text-muted">A Legacy Of Excellence</h2>
            <br>
            <p class="lead">Clare May Ball is an annual event dating back around 120 years. As a farewell to the academic year, guests are treated to an all-night,
            all-inclusive experience featuring world class entertainment, food, and drink. For the entire night, the iconic Old Court and gardens of
            Clare will transport over 1000 students and alumni to an enchanting world of class, glamour and sophistication.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'website_app/img/CMB18.jpg' %}" alt="cmb2018 image">
          </div>
        </div>
      </div>

      <hr id="infocols" class='featurette-divider'>

      <div class = "holding-box">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-circle center-block" src="{% static 'website_app/img/ents_thumbnail.png' %}" alt="Generic placeholder image" width="140" height="140">
            <h2>Student Performers</h2>
            <p>We're looking for a wide range of musical and non-musical acts to perform at the Ball - sign up to avoid missing out on being a part of this amazing event!</p>
            <p>Performers will have the option of being paid directly or receiving a discounted ticket to the Ball, although the number of discounted tickets available may be limited.</p>
            <p><a class="btn btn-default" href="https://docs.google.com/forms/d/e/1FAIpQLSdi3lUIH8a28n25QoCZ7Cevm_TrGCTB-77rc0rjJvoA7JNoZQ/viewform" role="button">Sign up &raquo;</a></p>
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <img class="img-circle center-block" src="{% static 'website_app/img/workers_thumbnail.png' %}" alt="Generic placeholder image" width="140" height="140">
            <h2>Student Workers</h2>
            <p>Clare May Ball will take place on Monday 18th June 2018, and is set to be a spectacular night. Working at the Ball will be a great way to experience the event whilst getting paid and enjoying yourself.</p>
            <p>All roles available for the night of the ball will be for the full duration of the event.</p>
            <p><a class="btn btn-default" href="/workers" role="button">Roles &raquo;</a></p>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.holding-box -->

      <hr id="sustainability" class="featurette-divider">

      <div class="holding-box">
        <div class="row featurette">
            <div class="col-lg-12">
            <h2 class="featurette-heading">Sustainability </h2>
            <br>
            <p class="lead">Clare May Ball has a history of excellence in sustainability, with the 2016 Ball being the first Cambridge event of its time to be carbon   neutral.</p>
<p class="lead">Since then, there has been a wave of events bringing sustainability considerations to the forefront, opening up exciting possibilities for collaboration and we are confident that we can make Clare May Ball 2018 the most sustainable yet!</p>
<p class="lead">This year, we are working with Sustain-a-Ball, an initiative co-developed by Clare alumna (and former sustainability officer for CMB 2016) Amy Carmichael, to support and incentivise as much good practice as possible.</p>
<p class="lead">By making sustainability a priority for our event, we want to show that sustainability is an opportunity, rather than a limit, for creativity and we can’t wait to bring you a Ball that is as fun for Planet Earth as it is for our guests!</p>
            </div>
        </div>
      </div>


      <hr id="sponsorship" class="featurette-divider">

      <div class="holding-box">
        <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'website_app/img/Sponsorship.jpg' %}" alt="sponsorship image">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Sponsorship </h2>
            <h2 class="featurette-heading text-muted">Become part of our tradition.</h2>
            <br>
            <p class="lead">If you are interested in becoming a sponsor, we would be delighted to talk to you to form a partnership.
            We offer many  exciting publicity opportunities for your company through exposure to the thousands of Cambridge students and alumni.</p>
            <p class="lead">Please see our sponsorship brochure for further information. Any correspondence should be directed to our Director of PR and Sponsorship,
            Dan Benson, at communications@claremayball.com</p>
            <p><a class="btn btn-default" href="{% static 'website_app/assets/Clare_May_Ball_Sponsorship.pdf' %}" role="button" download>Download brochure &raquo;</a>
          </div>
        </div>
      </div>

      <hr id = "sponsors" class="featurette-divider">

	  <!-- Existing sponsors
	  ====================================-->
		<div class = "holding-box text-center">
			<div class = "holding-box-title row">
				<h1>Our Partners</h1>
			</div>

			<div class = "row featurette">
				<div class="col md-6 col-sm-12">
					<img class = "img-responsive featurette-image center-block" src="{% static 'website_app/img/cobra.png' %}">
					<hr class="cobra-separator"></hr>
					<p class="cobra-text"> Lord Karan Bilimoria founded Cobra Beer in 1989 having realised that
Britain deserved a better, smoother, less gassy lager. Using the finest
natural ingredients and a traditional Indian blend of barley malt and
yeast, with maize, hops, and rice, he created an extra smooth and less
gassy beer, quite unlike any other.</p>


<p class="cobra-text">Cobra beers have been awarded a total of 94 Gold Medals by Monde
Selection, one of the most prestigious quality awards in the world of
beer. In 2016 Cobra was awarded 5 gold medals across the Cobra Beer
product range including a Grand Gold for King Cobra.<p>

<p class="cobra-text">Cobra Premium is a beer designed for food. It is made from a complex
recipe of seven ingredients and then expertly brewed in a way that gives
it fewer bubbles to give it a smooth sophisticated taste. At 4.8% ABV
bottled or 4.3% ABV draught it is the perfect companion for any dish.</p>

<p class="cobra-text">King Cobra is double fermented in the bottle, a process normally
reserved for fine Trappist ales giving it a super-premium, full-bodied
taste and pleasant, hazy appearance. This unorthodox approach gives King
Cobra it's warming, powerful depths. Served in a champagne style bottle
at 7.5% ABV King Cobra is perfect for sharing with friends over any
cuisine.</p>

<p class="cobra-text">We are really excited to be serving both at the May Ball, thanks to the
generous donation of stock by Lord Bilimoria.</p>


				</div>
				<div class="col md-6 col-sm-12">
					<img class = "img-responsive featurette-image center-block" src="{% static 'website_app/img/harrietkelsall4.png' %}">
				</div>
			</div>
		</div>



	<hr id = "committee" class="featurette-divider">

	  <!-- Committee section
	  ====================================-->
	  <div class = "holding-box text-center">
			<div class = "holding-box-title row">
				<h1>2018 Committee</h1>
				<hr class="committee-hr"></hr>
			</div>

			<div class = "row committee">
				<div class = "col-md-12 col-sm-12">
					<p><strong>President</strong><p>
					<h3 class="com-name">Catherine Clark</h3>
				</div>
			</div>
			<div class = "row committee">
				<div class = "col-md-6 col-sm-6">
					<p><strong>Vice-President (Operations)</strong><p>
					<h3 class="com-name">Ben Williams</h3>
				</div>
				<div class = "col-md-6 col-sm-6">
					<p><strong>Vice-President (Creative)</strong><p>
					<h3 class="com-name">Holly Holt</h3>
				</div>
			</div>
			<div class = "row committee">
				<div class = "col-md-2 col-sm-6">
					<p><strong>Production</strong><p>
					<h3 class="com-name">Alex Ridley</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Infrastructure</strong><p>
					<h3 class="com-name">Siling Zhang</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Ticketing</strong><p>
					<h3 class="com-name">Anna Tindall</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Attractions</strong><p>
					<h3 class="com-name">James Price</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Food</strong><p>
					<h3 class="com-name">Anna Warden</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Drink</strong><p>
					<h3 class="com-name">Elly Cockman</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>PR &amp; Sponsorship</strong><p>
					<h3 class="com-name">Dan Benson</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Treasurer</strong><p>
					<h3 class="com-name">Zoe Tan</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Personnel</strong><p>
					<h3 class="com-name">Philippa Slay</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Main Ents</strong><p>
					<h3 class="com-name">Kam Sohi</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Student Ents</strong><p>
					<h3 class="com-name">Matt Nixon</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Non-music Ents</strong><p>
					<h3 class="com-name">Aish Machani</h3>
				</div>
				<div class = "col-md-2 col-sm-6"></div>
				<div class = "col-md-2 col-sm-6"></div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Sustainability</strong><p>
					<h3 class="com-name">Nancy Wilson</h3>
				</div>
				<div class = "col-md-2 col-sm-6">
					<p><strong>Secretary</strong><p>
					<h3 class="com-name">Jess Lindley</h3>
				</div>
				<div class = "col-md-2 col-sm-6"></div>
				<div class = "col-md-2 col-sm-6"></div>

				<div class = "col-md-12 col-sm-12">
					<p><strong>Legal</strong><p>
					<h3 class="com-name">Jacob Meagher</h3>
				</div>

				</div>
			<div class="row holding-box-title">
					<hr class="committee-hr"></hr>
					<h2>Design Team</h2>
			</div>
			<div class="row committee">
				<div class = "col-md-4 col-sm-6"><h3 class="com-name">Helen Llambias Maw</h3></div>
				<div class = "col-md-4 col-sm-6"><h3 class="com-name">Denicia Bernard</h3></div>
				<div class = "col-md-4 col-sm-6"><h3 class="com-name">Isabelle Picard</h3></div>
				<div class = "col-md-4 col-sm-6 "><h3 class="com-name">Margarita Kobrina</h3></div>
				<div class = "col-md-4 col-sm-6"><h3 class="com-name">George Baker</h3></div>
				<div class = "col-md-4 col-sm-6"><h3 class="com-name">Bryan Hwang</h3></div>
				<div class = "col-md-4 col-sm-6"><h3 class="com-name">Adhvik Shetty</h3></div>
				<div class = "col-md-4 col-sm-6"><h3 class="com-name">Maureen Good</h3></div>
				<div class = "col-md-4 col-sm-12"><h3 class="com-name">Joy Gingell</h3></div>
			</div>
		</div>
	  </div>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Clare May Ball Committee &middot;</p>
    </div> <!-- /container -->
  <!--<script src="js/scripts.js"></script>-->
</body>
</html>
